<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <table class="icons">
        <tr>
          <th><button>Sign in</button></th>
          <th><img src="./img/google.png"></th>
          <th><img src="./img/OIP.jpeg"></th>
          
        </tr>
        <tr>
            <td><img src="./img/google play.jpeg"></td>
            <td><img src="./img/google news.jpeg"></td>
            <td><img src="./img/gmail.jpeg"></td>
        </tr>
        <tr>
            <td><img src="./img/meet.jpeg"></td>
            <td><img src="./img/chat.jpeg"></td>
            <td><img src="./img/contact.png"></td>
        </tr>
        <tr>
            <td><img src="./img/google_drive.png"></td>
            <td><img src="./img/calendar_20_2x.png"></td>
            <td><img src="./img/yjyba1lw.png"></td>
        </tr>
        <tr>
            <td><img src="./img/photo.jpeg"></td>
            <td><img src="./img/ad.jpeg"></td>
            <td><img src="./img/chorom.jpeg"></td>
        </tr>
        <tr>
            <td><button>More from Google</button></td>
        </tr>
      </table>
</body>
</html>