*{
    box-sizing: content-box;
    display: block;
    font-family: sans-serif;
    justify-content: center;
    margin: 0;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;

}
.icons img{
 
}